<%= render 'partials/breadcrumb', obj: @topic %>
<br>
<div>
  <table>
    <tbody>
      <% @topic.ordered_posts.each_with_index do |post, idx| %>
      <tr>
        <td>
        <%= render 'posts/post', post: post, idx: idx + 1 %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user %>
    <%= render 'posts/post_reply_form', topic: @topic %>
  <% end %>
</div>