<div id="navbar">
  <div class="btn-group">
    <!-- TODO: These probably shouldn't be classed as "btn-group", but they keep things inline -->
    <div class="btn-group">
        <a href="<%= forums_path %>" class="btn btn-default" role="button">Forum Home</a>
    </div>

    <div class="btn-group">
      <div class="btn-group">
        <a href="#" class="btn btn-default" role="button">Private Messages</a>
      </div>
    </div>

    <div class="dropdown btn-group">
      <button class="btn btn-default dropdown-toggle" type="button" id="community-menu" data-toggle="dropdown" aria-expanded="true">
        Community
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="community-menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Friends & Contacts</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Member List</a></li>
      </ul>
    </div>

    <div class="dropdown btn-group">
      <button class="btn btn-default dropdown-toggle" type="button" id="forum-actions" data-toggle="dropdown" aria-expanded="true">
        Forum Actions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="forum-actions">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mark Forums Read</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">General Settings</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit Profile</a></li>
      </ul>
    </div>

    <div class="dropdown btn-group">
      <button class="btn btn-default dropdown-toggle" type="button" id="quick-links" data-toggle="dropdown" aria-expanded="true">
        Quick Links
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="quick-links">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Today's Posts</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Subscribed Topics</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Open Contacts Popup</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Moderation Team</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Who's Online</a></li>
      </ul>
    </div>

    <div class="dropdown btn-group">
      <button class="btn btn-default dropdown-toggle" type="button" id="faqs" data-toggle="dropdown" aria-expanded="true">
        FAQs
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="faqs">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">FAQ</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Terms of Service</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Forum Rules</a></li>
      </ul>
    </div>
  </div>
</div>
<br>