<div id="post-reply-form">
  <a id="reply"></a>
  <%= form_for [@topic, @post], url: posts_path(@post), method: :post  do |f| %>
    <%= f.text_area :body, size: '60x6' %><br>
    <%= f.hidden_field :topic_id, value: @topic.id %>
    <%= f.submit "Post Reply" %>
  <% end %>
</div>