<div id="post_reply_form">
  <%= form_for @post, url: topic_posts_path(topic, @post), method: :post  do |f| %>
    <%= f.text_area :body, size: '60x6' %><br>
    <%= f.submit "Post" %>
  <% end %>
</div>