#posts table {
    width: 100%;
}

.post {
    margin-top: 10px;
    width: 100%;
}

.post-body-unapproved {
    background-color: #e2f0ce;
}

.post-body-deleted {
    background-color: #e8d0cf;
}

.post-utils {
    margin-right: 40px;
    text-align: right;
}

.edit-body-textarea {
    resize: none;
    width: 100%;
}

.edit-reason-textarea {
    resize: none;
    width: 100%;
    height: 2em;
}

.post-editor-buttons {
    text-align: right;
}